.container {
  width: 71%;
  margin: 5vh auto 0 auto;
}

.container_pages {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.pages_item {
  color: #C7C9C9;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.container_filter {
  height: auto;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
