.stock_information {
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.stock_name,
.stock__stock {
  font-size: 16px;
  font-weight: bold;
  color: #e5e5e5;
}

.stock__price {
  color: #e5e5e5;
  font-size: 15px;
  font-weight: bold;
}

.stock__variation_negative {
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.stock__variation_positive {
  font-size: 16px;
  font-weight: bold;
  color: green;
}

.stock_chart {
  width: 100%;
  height: 90%;
  border: 2px solid #B4B6B7;
  border-radius: 5px;
  background-color: #fff;
}
